# OpenOCD configuration for the RP2350 hazard3 RISCV processor
source [find interface/cmsis-dap.cfg]

# Probe both hazard3 cores
set USE_CORE { rv0 rv1 }
#set USE_CORE cm0

# Do the rest of the DP setup
source [find target/rp2350.cfg]
