app heartbeat

board rp2350-pico2 {
    chip "proj:chips/rp2350.kdl"
}

kernel {
    git-crate {
        repo "https://github.com/Karthik-d-k/exhubris-riscv-hazard3"
        package kernel-generic-cortex-m33
        rev "3b87e56ea9ff86e16bcc664d47b23a04ed817b8c" // branch: no-mpu-rp235x-cortex-m33
    }
    no-default-features
    features no-mpu
    stack-size 1024
}

task super {
    git-crate {
        repo "https://github.com/Karthik-d-k/exhubris-riscv-hazard3"
        package minisuper
        rev "3b87e56ea9ff86e16bcc664d47b23a04ed817b8c" // branch: no-mpu-rp235x-cortex-m33
    }
    priority 0
    stack-size 192
}

task heartbeat {
    workspace-crate heartbeat
    stack-size 256
    priority 1
    notification timer
    uses-peripheral sio
    uses-peripheral io_bank0
    uses-peripheral pads_bank0
    uses-peripheral resets
}

task uptime {
    workspace-crate uptime
    stack-size 512
    priority 2
    notification timer
    uses-peripheral io_bank0
    uses-peripheral pads_bank0
    uses-peripheral resets
    uses-peripheral uart0
}

task idle {
    git-crate {
        repo "https://github.com/Karthik-d-k/exhubris-riscv-hazard3"
        package idle
        rev "3b87e56ea9ff86e16bcc664d47b23a04ed817b8c" // branch: no-mpu-rp235x-cortex-m33
    }
    stack-size 128
    priority 3
    features insomniac
}
