app pingpong

board rp2350-pico2 {
    chip "proj:chips/rp2350.kdl"
}

kernel {
    git-crate {
        repo "https://github.com/Karthik-d-k/exhubris-riscv-hazard3"
        package kernel-generic-hazard3
        rev "263e1686d9f84e27454298cf6e4627b847d863df" // branch: no-pmp-rp235x-hazard3
    }
    no-default-features
    features no-pmp
    stack-size 1024
}

task super {
    git-crate {
        repo "https://github.com/Karthik-d-k/exhubris-riscv-hazard3"
        package minisuper
        rev "263e1686d9f84e27454298cf6e4627b847d863df" // branch: no-pmp-rp235x-hazard3
    }
    priority 0
    stack-size 192
}

task pong {
    workspace-crate pong
    stack-size 256
    priority 1
    uses-peripheral sio
    uses-peripheral io_bank0
    uses-peripheral pads_bank0
    uses-peripheral resets
}

task ping {
    workspace-crate ping
    stack-size 256
    priority 2
    uses-task pong
}

task idle {
    git-crate {
        repo "https://github.com/Karthik-d-k/exhubris-riscv-hazard3"
        package idle
        rev "263e1686d9f84e27454298cf6e4627b847d863df" // branch: no-pmp-rp235x-hazard3
    }
    stack-size 128
    priority 3
    features insomniac
}
