app uart

board rp2350-pico2 {
    chip "proj:chips/rp2350.kdl"
}

kernel {
    git-crate {
        repo "https://github.com/Karthik-d-k/exhubris-riscv-hazard3"
        package kernel-generic-cortex-m33
        rev "6c1e6a3a1239356e75499a3e25c26a46170f4b36" // branch: rp235x-cortex-m33
    }
    no-default-features
    stack-size 1024
}

task super {
    git-crate {
        repo "https://github.com/Karthik-d-k/exhubris-riscv-hazard3"
        package minisuper
        rev "6c1e6a3a1239356e75499a3e25c26a46170f4b36" // branch: rp235x-cortex-m33
    }
    priority 0
    stack-size 192
}

task uart {
    workspace-crate uart
    stack-size 256
    priority 1
    uses-peripheral io_bank0
    uses-peripheral pads_bank0
    uses-peripheral resets
    uses-peripheral uart0
}

task idle {
    git-crate {
        repo "https://github.com/Karthik-d-k/exhubris-riscv-hazard3"
        package idle
        rev "6c1e6a3a1239356e75499a3e25c26a46170f4b36" // branch: rp235x-cortex-m33
    }
    stack-size 128
    priority 2
    features insomniac
}
